/* styles.css */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4; /* 减小行距 */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 190mm;
    margin: 1mm auto; /* 减小页边距，使页面更紧凑 */
    background: #fff;
    padding: 10mm; /* 内部边距调整为 10mm，减少空白 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.2; /* 减少整体行距 */
    box-shadow: none;
}

header {
    text-align: center;
    margin-bottom: 5px; /* 减少 header 和内容之间的空白 */
}

header h1 {
    font-size: 26px; /* 减小字体以适应页面 */
    margin: 5px;
    color: #000000;
}

header p {
    margin-top: 5px; /* 减少 margin 以节省空间 */
    font-size: 12px;
    color: #777;
}

header a {
    color: #0073b1;
    text-decoration: underline;
}

h2 {
    border-bottom: 1px solid #000000; /* 补充缺失的边框样式 */
    padding-bottom: 0.1px;
    margin-bottom: 10px; /* 减少 margin 以节省空间 */
    color: #000000;
    width: 100%;
    display: block;
}

.section-title {
    font-size: 16px; /* 减小字体大小 */
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 0.1px solid #777;
    margin-top: 10px;
    margin-bottom: 5px; /* 减少 margin 以节省空间 */
    font-weight: normal;
}

.first-letter {
    font-size: 22px; /* 相对减少首字母的大小 */
}

.section-item {
    margin-bottom: 3px; /* 减少 section 之间的间距 */
}

.section-item h3 {
    margin: 0;
    font-size: 14px; /* 减小字体大小 */
    color: #000000;
    margin-left: 15px;
    margin-bottom: 2px; /* 减少 margin 以节省空间 */
    margin-top: 2px;
    font-weight: bold;
}

.section-item p {
    font-size: 12px; /* 减小字体大小 */
    color: #777;
    font-style: italic;
    margin-left: 15px;
    line-height: 18px; /* 减少行距 */
    margin-bottom: 2px; /* 减少 margin 以节省空间 */
    margin-top: 2px;
}

.date {
    float: right;
    font-size: 12px; /* 减小字体大小 */
    color: #000000;
    font-weight: normal;
}

.location {
    float: right;
    font-size: 12px; /* 减小字体大小 */
    color: #333;
    font-weight: normal;
}

ul {
    margin: 5px 0 10px 20px; /* 减少上下 margin */
    padding: 0;
    margin-left: 30px; /* 减少左侧缩进 */
}

ul li {
    font-size: 12px; /* 减小字体大小 */
    color: #777;
    margin-bottom: 3px; /* 减少列表项的间距 */
}

.tools {
    font-weight: normal;
}

.tech-skills {
    font-weight: normal;
    margin: 3px 0; /* 减少上下间距 */
    margin-left: 15px;
    font-size: 12px; /* 减小字体大小 */
}

.tech-titles {
    font-weight: bold;
}

@media print {
    @page {
        margin: 0; /* 去除默认页边距 */
    }

    body {
        margin: 0; /* 去除默认页边距 */
        box-shadow: none; /* 去除阴影 */
    }

    header,.container {
        margin: 0 auto; /*居中并减少空白*/
    }

    header h1, header p {
        page-break-after: avoid; /* 避免在标题和内容之间分页 */
    }
}